<!doctype html>
<html>
<head>
	<title>Sports Project</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="layout.css">

	<script type="text/javascript" src="../jquery.js"></script>
	<script type="text/javascript" src="layout.js"></script>
</head>
<body>
	<div class="screen" id="screen_primary">
		<span class="all_events">
			<div class="event_container">
				<div class="event blue"></div>
				<div class="event green"></div>
				<div class="event blue"></div>
			</div>
			<div class="event_container">
				<div class="event yellow"></div>
				<div class="event blue"></div>
				<div class="event red"></div>
			</div>
			<div class="event_container">
				<div class="event green"></div>
				<div class="event green"></div>
				<div class="event blue"></div>
			</div>
			<div class="event_container">
				<div class="event green"></div>
				<div class="event blue"></div>
				<div class="event red"></div>
			</div>
			<div class="event_container">
				<div class="event blue"></div>
				<div class="event blue"></div>
				<div class="event yellow"></div>
			</div>
			<div class="event_container">
				<div class="event blue"></div>
				<div class="event blue"></div>
				<div class="event red"></div>
			</div>
			<div class="event_container">
				<div class="event blue"></div>
				<div class="event green"></div>
				<div class="event blue"></div>
			</div>
			<div class="event_container">
				<div class="event yellow"></div>
				<div class="event blue"></div>
				<div class="event red"></div>
			</div>
			<div class="event_container">
				<div class="event blue"></div>
				<div class="event green"></div>
				<div class="event blue"></div>
			</div>
		</span>
		<button id="show_secondary">click</button>
	</div>

	<div class="screen" id="screen_secondary">
		<button id="show_primary">click</button>
		OH HEY THERE'S STUFF UP HERE TOO
	</div>

</body>
</html>